img {
    width: 150px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 10px 0px;
}

table {
    margin: 0px 80px 50px 80px;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', 'serif';
    font-size: 16px;
}

td[rowspan="11"], td[rowspan="3"], .start-top {
    vertical-align: top;
}

ul {
    padding-left: 15px;
}

.color-gold {
    color: gold;
}

.color-blue {
    background-color: #192655;
    width: 235px;
}

td {
    padding: 0px 10px;
}

.border-right {
    border-right: 3px solid #192655;
    width: 100px;
    text-align: right;
}

p, ul {
    margin: 0px;
}

.empty-row {
    height: 10px;
}

.padding-top {
    padding-top: 10px;
}

.mid-align {
    padding-left: 120px;
}

i, .no-bullet {
    font-size: 14px;
    list-style: none;
    font-style: italic;
}